In [16]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect('test_database') 
c = conn.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS EHR
          ([patient_id] INTEGER PRIMARY KEY, [patient_first_name] TEXT, [patient_middle_name] TEXT,
          [patient_last_name] TEXT, [pref_name] TEXT, [social] TEXT, [dob] TEXT, [m_address] TEXT,
          [city] TEXT, [state] TEXT, [zip] TEXT, [status] TEXT, [sex] TEXT)
          ''')

In [3]:
conn = sqlite3.connect('test_database') 
c = conn.cursor()

c.execute('''
          INSERT INTO EHR (patient_id, patient_first_name, patient_middle_name, patient_last_name,
          pref_name, social, dob, m_address, city, state, zip, status, sex)

                VALUES
                (123349,'robert','mark','johnson','rob','547689325','02/09/1998','92 raleigh','austin',
                'tx','26571','single','m')
          ''')
conn.commit()
#make table for insurance
#make editable

In [4]:
conn = sqlite3.connect('test_database') 
c = conn.cursor()
c.execute('''
          SELECT * FROM EHR
          ''')

df = pd.DataFrame(c.fetchall(), columns=['patient_id', 'patient_first_name', 'patient_middle_name', 'patient_last_name',
          'pref_name', 'social', 'dob', 'm_address', 'city', 'state', 'zip', 'status', 'sex'])
df

,patient_id,patient_first_name,patient_middle_name,patient_last_name,pref_name,social,dob,m_address,city,state,zip,status,sex
0,123349,robert,mark,johnson,rob,547689325,02/09/1998,92 raleigh,austin,tx,26571,single,m
1,123665,john,buck,doe,john,435674326,08/04/2000,201 highland ave,durham,nc,23415,single,m

In [30]:
first_name = 'john'
last_name = 'doe'
conn = sqlite3.connect('test_database') 
c = conn.cursor()
c.execute(
          f' SELECT * FROM EHR WHERE patient_first_name = "{first_name}";'
          )

df = pd.DataFrame(c.fetchall(), columns=['patient_id', 'patient_first_name', 'patient_middle_name', 'patient_last_name',
          'pref_name', 'social', 'dob', 'm_address', 'city', 'state', 'zip', 'status', 'sex'])
df

,patient_id,patient_first_name,patient_middle_name,patient_last_name,pref_name,social,dob,m_address,city,state,zip,status,sex
0,123665,john,buck,doe,john,435674326,08/04/2000,201 highland ave,durham,nc,23415,single,m